.cartao {
    width: 250px;
    height: 300px;
    position: relative;
}
.frente, .verso {
    position: absolute;
    width: 100%;
    height: 100%;
}

.verso {
    background-color: red;
    opacity: 0;
}

.cartao:hover .frente {
    opacity: 0;
}

.cartao:hover .verso {
    opacity: 1;
}
